@media (max-width: 1200px) {
    .team__title::after{
        margin: 20px auto 35px;
    }
    .team__row{
        justify-content: space-around;
        margin: 0;
    }
    .team__item{
        flex: 0 1 50%;
        padding: 20px 40px;
    }
    .services__title::after{
        margin: 20px auto 35px;
    }
    .services__row{
        justify-content: space-around;
        margin: 0;
    }
    .services__card{
        flex: 0 1 50%;
        padding: 20px 40px;
    }
    .portfolio__title::after{
        margin: 20px auto 35px;
    }
    .portfolio__row{
        justify-content: space-around;
        margin: 0;
    }
    .portfolio__photo{
        flex: 0 1 33.3333333%;
    }
    .testimonials__title::after{
        margin: 20px auto 85px;
    }
    .testimonials__body{
        padding-bottom: 50px;
    }
}
@media (max-width: 991px) {
    .about{
        padding: 50px 0px;
    }
    .about__row{
        flex-direction: column;
    }
    .about__body{
        padding: 5% 10% 0%;
        margin: 0;
    }
    .about__image{
        flex: 0 0 auto;
    }
    .clients__row{
        flex-wrap: wrap;
        padding: 0 0 80px;
    }
    .clients__brand{
        flex: 0 0 100%
    }
    .portfolio__photo{
        flex: 0 1 50%;
    }
}
@media (max-width:767px){
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 23px;
        z-index: 3;
        cursor: pointer;
    }
    .header__burger span{
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        top: 10px;
        transition: all 0.5s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.5s ease 0s;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 10px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 10px;
    }

    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.5s ease 0s;
        background-color: #111;
        padding-top: 50px;
    }
    .header__menu.active{
        top: 0;
    }
    .header__list{
        display: block;
        text-align: center;
    }
    .header_link{
        font-size: 18px;
    }
    body.lock{
        overflow: hidden;
    }
    .about{
        padding: 20px 0px;
    }
    .team{
        padding: 20px 0px 10px;
    }
    .team__item{
        flex: 0 1 50%;
        padding: 10px 10px;
    }
    .services{
        padding: 20px 0px 10px;
    }
    .services__text{
        padding-bottom: 50px;
    }
    .services__card{
        flex: 0 1 50%;
        padding: 10px 10px;
    }
    .portfolio{
        padding: 20px 0px 0px;
    }
    .portfolio__text{
        padding-bottom: 50px;
    }
    .portfolio__photo{
        flex: 0 1 50%;
        padding: 20px;
    }
    .testimonials{
        padding: 30px 0px;
    }
    .testimonials__title::after{
        margin: 20px auto 45px;
    }
    .testimonials__body{
        padding-bottom: 25px;
    }
    .contact{
        padding: 20px 25px;
    }
    .contact__title::after{
        margin: 20px auto 40px;
    }
    .contact__text{
        margin: 0px 0px 55px;
    }
    .form__inputs{
        flex-wrap: wrap;
    }
    .form__inputs p{
        width: 100%;
    }
}
@media (max-width: 480px) {
    .intro__title{
        font-size: 36px;
    }
    .intro__subtitle{
        font-size: 18px;
    }
    .team__title{
        font-size: 36px;
    }
    .team__item{
        flex: 0 1 100%;
        padding: 10px 20px;
    }
    .item__body{
        padding: 10px 0px 0px;
    }
    .item__title{
        margin: 0px 0px 15px;
    }
    .services__title{
        font-size: 36px;
    }
    .services__title::after{
        margin: 20px auto 28px;
    }
    .services__text{
        padding-bottom: 30px;
    }
    .services__card{
        flex: 0 1 100%;
        padding: 10px 20px;
    }
    .card__body{
        padding: 10px 0px 0px;
    }
    .card__title{
        margin: 0px 0px 15px;
    }
    .clients{
        padding: 20px 0px 0px
    }
    .clients__title{
        font-size: 36px;
    }
    .clients__title::after{
        margin: 20px auto 45px;
    }
    .clients__row{
        padding: 0 0 30px;
    }
    .portfolio__title{
        font-size: 36px;
    }
    .portfolio__title::after{
        margin: 20px auto 28px;
    }
    .services__text{
        padding-bottom: 30px;
    }
    .services__card{
        flex: 0 1 100%;
    }
    .testimonials{
        padding: 20px 0px;
    }
    .testimonials__title{
        font-size: 36px;
    }
    .contact{
        padding: 20px 0px;
    }
    .contact__title{
        font-size: 36px;
    }
    .contact__form textarea{
        height: 100px;
        margin-bottom: 10px;
    }
 }
