*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
html, body{
    height: 100%;
    font-family: "Open Sans", sans-serif;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*стилі оформлення*/

.conteiner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
    height: 100%;
}
.contact__conteiner{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    height: 100%;
}
/*основні стилі*/

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    z-index: 2;
}
.header__row{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.header__logo{
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    z-index: 3;
}
.header__logo span{
    font-size: 24px;
    background-color: #fcac45;
    color: #111;
    border-radius: 5px;
}
.header__burger{
    display: none;
}
.header__menu{
}
.header__list{
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li{
    padding: 13px 16px;
    cursor: pointer;
}
.header__list li:hover{
    border-bottom: 3px solid #fcac45;
}
.header_link{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.content{
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.intro{
    padding-top: 60px;
    background-color: #111;
    width: 100%;
    height: 100vh;
    max-height: 800px;
}
.intro__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.intro__title{
    margin: 0 0 20px;
    font-size: 44px;
    font-weight: 300;
    color: #999999;
    line-height: 48px;
    text-transform: uppercase;
    text-align: center;
}
.intro__title span{
    color: #fcac45;
    font-weight: 700;
}
.intro__subtitle{
    font-size: 20px;
    font-weight: 400;
    color: #d3d3d3;
    text-align: center;
    line-height: 30px;
}
.intro__subtitle span{
    font-weight: 700;
}
.about{
    width: 100%;
    height: auto;
    padding: 50px 0px;
    background-color: #fff;
}
.about__row{
    display: flex;
    align-items: center;
}
.about__image{
    flex: 0 0 506px;
}
.about__image img{
    max-width: 100%;
}
.about__body{
    flex: 1 1 auto;
    padding: 0 0 0 5%;
}
.about__title{
    font-size: 34px;
    font-weight: 400;
    color: #222222;
    text-transform: uppercase;
    text-align: center;
    line-height: 34px;
    margin: 0px 0px 31px;
    padding: 0px 0px 21px;
    border-bottom: 4px solid #fcac45;
}
.about__title span{
    font-weight: 700;
}
.about__text{
    color:#999999;
    text-align: justify;
}
.about__text p{
    font-size: 18px;
    font-weight: 400px;
    line-height: 25px;
    margin: 0 0 30px;
}
.about__list li{
    background: url("../image/pointer.png") 0px 5px no-repeat;
    padding: 0px 0px 0px 24px;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 25px;
}
.about__list li span{
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
}
.team{
    width: 100%;
    height:auto;
    padding: 50px 0px 30px;
    background-color: #070707;
    color: #fff;
}
.team__title{
    font-size: 44px;
    font-weight: 600;
    line-height: 34px;
    text-transform: uppercase;
    text-align: center;
    width: auto;
}
.team__title::after{
    content: '';
    display: block;
    width: 98px;
    height: 3px;
    background-color: #fcac45;
    margin: 14px auto 85px;
}
.team__row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px -22px;
}
.team__item{
    flex: 0 1 25%;
    padding: 20px 22px;
}
.item__row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item__image{
    flex: 0 0 128px;
}
.item__image img{
    max-width: 100%;
}
.item__body{
    padding: 20px 0px 0px;
}
.item__title{
    text-align: center;
    margin: 0px 0px 30px;
}
.item__title h1{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}
.item__title h2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.item__text{
    font-size: 14px;
    list-style: 24px;
    font-weight: 400;
}
.services{
    width: 100%;
    height: auto;
    padding: 50px 0px 30px;
    color: #222222;
    background-color: #fff;
}
.services__title{
    font-size: 44px;
    line-height: 34px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.services__title::after{
    content: '';
    display: block;
    width: 99px;
    height: 3px;
    background-color: #fcac45;
    margin: 30px auto 55px;
}
.services__text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    color: #6c6c6c;
    text-align: center;
    padding-bottom: 82px;
}
.services__row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -22px;
}
.services__card{
    flex: 0 1 25%;
    padding: 20px 22px;
}
.card__row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__image{
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #fcac45;
    border-radius: 50%;
}
.card__image img{
    max-width: 100%;
}
.card__body{
    padding: 28px 0px 0px;
}
.card__title{
    font-size: 25px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0px 20px;
}
.card__text{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
}
.clients{
    width: 100%;
    height: auto;
    background-color: #090909;
    color: #ffffff;
    padding: 50px 0px 30px;
}
.clients__title{
    font-size: 44px;
    line-height: 34px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}
.clients__title span{
    font-weight: 600;
}
.clients__title::after{
    content: "";
    display: block;
    width: 99px;
    height: 3px;
    background-color: #fcac45;
    margin: 30px auto 75px;
}
.clients__row{
    display: flex;
    justify-content: center;
    padding: 0px 0px 130px;
    align-items: flex-end;
}
.clients__brand{
    flex: 0 0 165px;
    margin: 20px 15px;
    display: flex;
    justify-content: center;
}
.brand__logo{
    width: 165px;
}
.brand__logo img{
    max-width: 100%;
}
.portfolio{
    width: 100%;
    padding: 50px 0px 25px;
    color: #222222;
    background-color: #fff;
}
.portfolio__title{
    font-size: 44px;
    line-height: 34px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}
.portfolio__title span{
    font-weight: 600;
}
.portfolio__title::after{
    content: "";
    display: block;
    width: 99px;
    height: 3px;
    background-color: #fcac45;
    margin: 30px auto 55px;
}
.portfolio__text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    color: #6c6c6c;
    text-align: center;
    padding: 0px 0px 100px;
}
.portfolio__row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.portfolio__photo{
    flex: 0 1 25%;
    padding: 15px 15px;
    display: flex;
    justify-content: center;
}
.photo__conteiner{
    width: 263px;
    height: 237px;
}
.photo__conteiner img{
    max-width: 100%;
}
.testimonials{
    width: 100%;
    height:auto;
    padding: 50px 0px;
    background-color: #070707;
    color: #fff;
}
.testimonials__title{
    font-size: 44px;
    line-height: 34px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.testimonials__title span{
    font-weight: 300;
}
.testimonials__title::after{
    content: "";
    display: block;
    width: 99px;
    height: 3px;
    background-color: #fcac45;
    margin: 30px auto 95px;
}
.testimonials__body{
    padding-bottom: 100px;
}
.testimonials__text{
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #e7e7e7;
    margin: 0px 0px 40px;
}
.testimonials__text__author{
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #b2b2b2;
    text-align: center;
}
.testimonials__text__author span{
    font-weight: 300;
}
.contact{
    width: 100%;
    height:auto;
    padding: 50px 50px;
    color: #222222;
}
.contact__title{
    font-size: 44px;
    line-height: 34px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.contact__title::after{
    content: "";
    display: block;
    width: 99px;
    height: 3px;
    background-color: #fcac45;
    margin: 30px auto 55px;
}
.contact__text{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    color: #6c6c6c;
    text-align: center;
    margin: 0px 0px 95px;
}
.contact__form{
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #636363;
}
.red{
    color: #db0000;
}
.form__inputs{
    display: flex;
    justify-content: space-between;
    margin: 0px -14px;
}
.form__inputs p{
    width: 50%;
    margin: 0px 14px 30px;
}
.form__inputs input{
    width: 100%;
    height: 42px;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.4);
    font-size: 20px;
    padding: 5px;
    margin-top: 5px;
}
.contact__form textarea{
    width: 100%;
    height: 164px;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.4);
    font-size: 20px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 30px;
    resize: none;
    overflow: auto;
}
.form_button{
    display: flex;
    justify-content: flex-end;
}
.form_button input{
    width: 165px;
    height: 40px;
    background-color: #fcac45;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}
.footer{
    width: 100%;
    background-color: #222222;
    height: 71px;
}
.footer__row{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
.footer__image{
    width: 31px;
    height: 31px;
    margin: 0px 7px;
}
.footer__image img{
    max-width: 100%;
}
